<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
</head>

<body>
    <main>
        <div>
            <h1>Reminders</h1>
            <p><a href="{% url 'todo_list_update' list_object.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' list_object.id %}">Delete</a></p>
            <table>
                <h2>{{ list_object.name }}</h2>
                <thead>
                    <th>Task</th>
                    <th>Due date</th>
                </thead>
                <tbody>
                    {% for item in list_object.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a></td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
